---
title: Publication
layout: default

---
<div class="introduction">
  <h1>Hey there 9th grade! </h1>
<p>

&emsp;&emsp;Hey there 9th Grade! 
We've put together this publication to showcase some awesome work from Ms. Bueckert-Chan’s students.  We've all worked so hard this year to put forth our best and we've continued to do so throughout quarantine as well. We hope you can use this opportunity to embrace your work through the beauty of writing and know that your work is unique to you and only you!  Thank you to everyone who contributed to made this possible and thank you to everyone for staying strong during these difficult times. We hope to overcome these challenges together and to one day be learning in the same building again. 
  
	</p>
	<p>
&emsp;&emsp;In an effort to celebrate our time together this year, we present to you our first ever 9th Grade Publication! Please browse through the site to view the work and art of your classmates.  Enjoy!
  </p>
  
 <p> Sincerely, </p>
  <i>
The Digital Publication Team-
   <br>
Ms. Bueckert-Chan, Hazel E., Rebecca F., Jacqueline L., Devan N., Maria P., Roberto Q., Prianka R., Thanjila T. and Hattie W.
  </i>

</div>

<hr>

<div class="accordion">
	<div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
	      <h1> Poems </h1>
	 <div class="accordion-content">
         <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "poem" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
	 </div>
</div>
		
<div class="accordion">
	<div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
	      <h1> Stories </h1>
	 <div class="accordion-content">
         <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "story" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
	 </div>
</div>
		
		<div class="accordion">
	<div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false">
	      <h1> Books We've Read </h1>
	 <div class="accordion-content">
         <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "creative" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
	 </div>
</div>

		<script>
			const items = document.querySelectorAll(".accordion button");

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
		</script>

