---
title: Publication
layout: default

---
<div class="introduction">
  <h1>Hey there 9th grade! </h1>
<p>

&emsp;&emsp;Hey there 9th Grade! 
We've put together this publication to showcase some awesome work from Ms. Bueckert-Chan’s students.  We've all worked so hard this year to put forth our best and we've continued to do so throughout quarantine as well. We hope you can use this opportunity to embrace your work through the beauty of writing and know that your work is unique to you and only you!  Thank you to everyone who contributed to made this possible and thank you to everyone for staying strong during these difficult times. We hope to overcome these challenges together and to one day be learning in the same building again. 
  
	</p>
	<p>
&emsp;&emsp;In an effort to celebrate our time together this year, we present to you our first ever 9th Grade Publication! Please browse through the site to view the work and art of your classmates.  Enjoy!
  </p>
  
 <p> Sincerely, </p>
  <i>
The Digital Publication Team-
   <br>
Ms. Bueckert-Chan, Hazel E., Rebecca F., Jacqueline L., Devan N., Maria P., Roberto Q., Prianka R., Thanjila T. and Hattie W.
  </i>

</div>

<hr>

<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details>
  <summary>
    Poems
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
   <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "poem" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</details> 
	
<details>
  <summary>
    Stories
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
   <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "story" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</details> 

<details>
  <summary>
    Books We've Read
    <svg class="control-icon control-icon-expand" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
   <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "creative" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</details> 


</div>
