---
title: Ed.
layout: default

---
<div class="introduction">
  <h1>Hey there 9th grade! </h1>
<p>

We've put together this publication to showcase the awesome works of Ms. Bueckert-Chan's students! We've all worked so hard this year to put forward our best & we've continued to do so throughout quarantine as well! Thank you for all your cooperation in making this possible. Browse through the site to view the work & arts of students, or look for your own! Enjoy!

</p>
</div>

<hr>

<div class="toc">
  <h1>Poems</h1>
  <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "poem" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  
  </ul>
  
  <h1>Rumination Papers</h1>
  <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "rumination" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

  <h1>Stories</h1>
  <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "story" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

 <h1>Creative One-Pagers</h1>
  <ul class="texts">
  {% for item in site.texts %}
  {% if item.layout contains "creative" %}
    <li class="text-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</div>