<a class="js-font-decrease" style="cursor: pointer; font-size:small;">A</a> <a class="js-font-normal" style="cursor: pointer; font-size:medium;">A</a> <a class="js-font-increase" style="cursor: pointer;font-size:large">A</a>
<script>
  (function($) {
  function changeFont(fontSize) {
      return function() {
        size = $( "html" ).css( "font-size" );
        if (size <= 200 || size >= 80) {
         $('html').css('font-size', fontSize + '%');
         localStorage.setItem('fSize', fontSize);
      }
    }

    var normalFont = changeFont(100),
    		mediumFont = changeFont(125),
    		largeFont  = changeFont(145);

    $('.js-font-decrease').on('click', function(){
      normalFont();
    });

    $('.js-font-normal').on('click', function(){
      mediumFont();
    });

    $('.js-font-increase').on('click', function(){
      largeFont();
    });

    if (localStorage.length !== 0) {
      $('html').css('font-size', localStorage.getItem('fSize') + '%');
    }
  
})(jQuery);
</script>
