<a class="smaller" style="cursor: pointer; font-size:small;">A</a> <a class="medium" style="cursor: pointer; font-size:medium;">A</a> <a class="bigger" style="cursor: pointer;font-size:large">A</a>
<script>
(function($) {
  function changeFont(fontSize) {
      return function() {
         $('html').css('font-size', fontSize + '%');
         sessionStorage.setItem('fSize', fontSize);
      }
    }

    var normalFont = changeFont(100),
    		mediumFont = changeFont(125),
    		largeFont  = changeFont(145);

    $('smaller').on('click', function(){
      normalFont();
    });

    $('medium').on('click', function(){
      mediumFont();
    });

    $('bigger').on('click', function(){
      largeFont();
    });

    if (localStorage.length !== 0) {
      $('html').css('font-size', localStorage.getItem('fSize') + '%');
    }
  
})(jQuery);
</script>
