<div class="retainer" style="font-size:1.2rem;">
        <div class="row">
       <div class="column" style="text-alight:left;">
           {% if page.previous.url %}
            <a href="{{site.baseurl}}{{page.previous.url}}">&laquo;{{page.previous.title}}</a>
           {% endif %}
    </div>
            <div class="column" style="text-align:right;">
                 {% if page.next.url %}
            <a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}}&raquo;</a>
            {% endif %}
                </diiv
            </div>
                </div>
