@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
.heading {
  border-bottom: 0;
  margin-bottom: 3rem;
  padding-top: 26px;
  padding-bottom: 1rem;
  text-align: center;
  dispay-style: block;
  border: 3px solid #fff;
}

.heading-title {
  font-family: "Montez", cursive;
  font-size: 1.8rem;
  line-height: .777em;
  margin-top: 2em;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}


@media (min-width: 320px) {
  .heading-title {
    margin-top: 2px;
    margin-right: 15%;
    margin-left: 15%;
  }
}
}
