@import url('https://fonts.googleapis.com/css2?family=Montez@1&display=swap');
.shadow {
        font-family: Montez;
        text-align:center;
        font-size: 1.8rem;
        line-height: .777em;
        margin-top: 1.1em;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
         

      }
}

