<style>
.search {
  width: 130px;
  box-sizing: border-box;
  border: .2rem solid;
  border-radius: 3rem;
  font-size: 1rem;
  background-color: white;
  background-image: url('https://img.icons8.com/ios/50/000000/search--v1.png');
  background-position: .6rem .6rem; 
  background-repeat: no-repeat;
  background-size: 1.3rem 1.3rem;
  padding: 12px 20px 12px 40px;
  width: 100%;
}
</style>
